<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/indexStyle.css">
    <link rel="stylesheet" type="text/css" href="/styles/footer.css" />
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="navbar-logo">
            <p>Drip Too Hard</p>
        </div>
        <ul class="navbar-anchor">
            <li><a href="/index.html">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="/about.html">About</a></li>
        </ul>
    </nav>

    <div class="middle-image-text-black">
        <h1 class="">About us</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, ex, velit aut voluptatem obcaecati possimus architecto excepturi totam suscipit quo error incidunt temporibus laboriosam fuga nesciunt! Neque dolorum fugiat in.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, ex, velit aut voluptatem obcaecati possimus architecto excepturi totam suscipit quo error incidunt temporibus laboriosam fuga nesciunt! Neque dolorum fugiat in.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, ex, velit aut voluptatem obcaecati possimus architecto excepturi totam suscipit quo error incidunt temporibus laboriosam fuga nesciunt! Neque dolorum fugiat in.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, ex, velit aut voluptatem obcaecati possimus architecto excepturi totam suscipit quo error incidunt temporibus laboriosam fuga nesciunt! Neque dolorum fugiat in.</p>
        <img src="../img/logowebshop1.png">
    </div>

    <footer>
        <div class="footer">
          <div class="row">
            <ul>
              <li><a href="mailto:contact@DTH.com">Contact us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
  
          <div class="row">
            Drip Too Hard Copyright © 2023 Drip Too Hard - All rights reserved
          </div>
        </div>
      </footer>
</body>

</html>