<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/indexStyle.css">
  <link rel="stylesheet" type="text/css" href="/styles/footer.css" />
  <script src="https://kit.fontawesome.com/78a4a1d08b.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <nav>
    <div class="navbar-logo">
        <p>Drip Too Hard</p>
    </div>
    <ul class="navbar-anchor">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Shop</a></li>
        <li><a href="/views/about.html">About</a></li>
    </ul>
    <div class="navbar-login">
        <a href="#"><i class="fa-solid fa-user"></i></a>
    </div>
    <div class="navbar-cart">
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
</nav>

  <div class="middle-image-text-black">
    <h1 class="">About us</h1>
    <p>Welcome to Drip Too Hard! We are a one-stop-shop for all your designer clothing needs. Our concept is simple - we
      bring you the latest and greatest in fashion trends that are inspired by the hip-hop community.<br><br>

      Our collection is carefully curated to include everything from high-end designer wear to streetwear that your
      favorite rappers would wear. At Drip Too Hard, we believe that fashion is an expression of individuality and we
      want to help you express yourself through the clothes you wear.<br><br>

      We pride ourselves on offering a wide variety of styles and designs, ensuring that there is something for
      everyone. Our team of fashion experts is constantly on the lookout for the latest trends and styles, so you can be
      sure that you're always up-to-date with the latest in fashion.<br><br>

      At Drip Too Hard, we understand the importance of quality and that's why we only stock the best. Our clothes are
      made from high-quality materials, ensuring that they are both durable and stylish. We want you to feel confident
      and comfortable in your clothes, and that's why we only stock the best.<br><br>

      So, whether you're looking for the perfect outfit for a night out, or just want to update your wardrobe, Drip Too
      Hard has got you covered. Shop with us today and discover the latest in fashion trends inspired by the hip-hop
      community.</p>
    <img src="../img/logowebshop1.png">
  </div>

  <footer>
    <div class="footer">
      <div class="row">
        <ul>
          <li><a href="mailto:contact@DTH.com">Contact us</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>

      <div class="row">
        Drip Too Hard Copyright © 2023 Drip Too Hard - All rights reserved
      </div>
    </div>
  </footer>
</body>

</html>