<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" type="text/css" href="/styles/footer.css"/>
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="navbar-logo">
            <p>Drip Too Hard</p>
        </div>
        <ul class="navbar-anchor">
            <li><a href="">Home</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
    <div class="topcontainer">
        <div class="productcontainer">
            <img class="productimg" src="/img/Clothing/num1.png" alt="">
        </div>
        <div class="infocontainer">
            <h1 class="product-title">Louis Vuitton midnight vest</h1>
            <p class="description">100% cotton vest. This vest is designed to be warm in the winter and cool during the summer. Comes in the color dark blue. </p>
            <h1 class="price">$890</h1>

            <button class="ordernow">Order now</button>
        </div>
    </div>
    <footer>
        <div class="footer">
          <div class="row">
            <ul>
              <li><a href="mailto:contact@DTH.com">Contact us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
  
          <div class="row">
            Drip Too Hard Copyright © 2023 Drip Too Hard - All rights reserved
          </div>
        </div>
      </footer>
</body>

</html>