<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/login.css">
    <link rel="stylesheet" href="./styles/font.css">
    <title>Document</title>
</head>
<body>

    <video autoplay muted loop id="myVideo">
        <source src="/img/video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    <div class="content">
    <img src="./img/logowebshop2.png" alt="">
    <div class="logincontainer">
        <div class="loginbox">
            <p class="logintext">Register</p>
            
            <form action="/register" method="POST">
                <input placeholder="username" class=login type="text" name="Name">
                <input  placeholder="e-mail" class=login type="text" name="EMail">
                <input  placeholder="password" class=login type="text" name="Password">

                  <div class="remember">
                <input class="check" type="checkbox">
                <p>I accept the terms and conditions.</p>
                </div>
                <button type="submit">             
                    register
                </button>
            </form>

            
          
            <a href="/login">
                <p class="register">Already got an account? Log in here.</p>
            </a>
        </div>  
    </div>
</div>

    <script>
        var video = document.getElementById("myVideo");
        var btn = document.getElementById("myBtn");
        
        function myFunction() {
          if (video.paused) {
            video.play();
            btn.innerHTML = "Pause";
          } else {
            video.pause();
            btn.innerHTML = "Play";
          }
        }
        </script>
</body>
</html>