body {
    font-family: 'Bahnschrift', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

nav {
    background-color: white;
}

.navbar-logo {
    font-weight: 500;
    font-size: 38px;
    font-family: timonium, sans-serif;
    position: absolute;
}

.navbar-logo p {
    margin: 18px 0 0 30px;
}

.navbar-anchor {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

li {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 50px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    color: rgb(158, 158, 158);
}

.navbar-login,
.navbar-cart {
    position: absolute;
    right: 0;
    top: 40px;
}

.navbar-login i {
    font-size: 23px;
    margin-right: 160px
}

.navbar-cart i {
    font-size: 23px;
    margin-right: 65px
}

.adminNav {
    background-color: #f2f2f2;
    text-align: center;
}

.adminNav ul {
    margin: 30px 0;
    display: inline-block;
}

.adminNav li {
    margin: 0 70px;
    font-size: 13px;
    display: inline;
}

.adminNav a {
    cursor: pointer;
}

thead {
    font-size: 20px;
}

table {
    margin-top: 40px;
}

table .fa-pencil {
    font-size: 20px;
    color: #5252c9;
    padding: 10px 10px 10px 0;
}

form .fa-pencil:hover {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    color: #292964;
}

table .fa-trash {
    font-size: 20px;
    color: #f04848;
    padding: 10px 10px 10px 5px;
}

form .fa-trash:hover {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    color: #822727;
}

table img {
    width: 70px;
}

form button {
    all: unset;
}

.actions {
    display: flex;
}

#alertSuccessMsg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    font-size: 20px;
    text-align: center;
    display: none;
}

#alertSuccessMsg.sticky {
    position: fixed;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(222, 222, 222);
}

tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
}

tr:hover {
    background-color: rgb(228, 227, 227);
}

td {
    border: unset;
}



