@import url('https://fonts.cdnfonts.com/css/bahnschrift');
@import url("https://use.typekit.net/nmy8ygu.css");


body {
    font-family: 'Bahnschrift', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

nav {
    background-color: white;
}

.navbar-logo {
    font-weight: 500;
    font-size: 38px;
    font-family: timonium, sans-serif;
    position: absolute;
}

.navbar-logo p {
    margin: 10px 0 0 30px;
}

.navbar-anchor {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

li {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 50px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    color: rgb(158, 158, 158);
}

.navbar-login,
.navbar-cart {
    position: absolute;
    right: 0;
    top: 40px;
}

.navbar-login i {
    font-size: 23px;
    margin-right: 160px
}

.navbar-cart i {
    font-size: 23px;
    margin-right: 65px
}

.productcontainer {
    
    width: 32%;
    height: 550px;
    margin-left: 10%;

    flex-direction: row;
}

.topcontainer{

    display: flex;
    flex-direction: row;
    margin-top: 5%;

}

.product-title{
   
}

.description{
    
}

.infocontainer{
    margin-left:5%;
    width:35%;
}

.productimg{
    width:100%
}

.price{
    font-size:25px;
}

.ordernow{
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: black;
    color: #ffffff;
    font-family: 'Bahnschrift';
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 150ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ordernow:hover
 {
    background: rgb(158, 158, 158);
}

.navbar-login,
.navbar-cart {
    position: absolute;
    right: 0;
    top: 40px;
    cursor: pointer;
}

.navbar-login i {
    font-size: 23px;
    margin-right: 160px
}


.navbar-cart i {
    font-size: 23px;
    margin-right: 65px
}
