@import url('https://fonts.cdnfonts.com/css/bahnschrift');
@import url("https://use.typekit.net/nmy8ygu.css");

body {
    font-family: 'Bahnschrift', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

nav {
    background-color: white;
}

.navbar-logo {
    font-weight: 500;
    font-size: 38px;
    font-family: timonium, sans-serif;
    position: absolute;
}

.navbar-logo p {
    margin: 18px 0 0 30px;
}

.navbar-anchor {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

li {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 50px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    color: rgb(158, 158, 158);
}

.navbar-login,
.navbar-cart {
    position: absolute;
    right: 0;
    top: 40px;
}

.navbar-login i {
    font-size: 23px;
    margin-right: 160px
}

.navbar-cart i {
    font-size: 23px;
    margin-right: 65px
}

.categorys {
    background-color: #f2f2f2;
    text-align: center;
}

.categorys ul {
    margin: 30px 0;
    display: inline-block;
}

.categorys li {
    margin: 0 70px;
    font-size: 13px;
    display: inline;
}

.tile-row {
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
}

.category-filter {
    cursor: pointer;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: auto;
}

.tile img {
    text-align: center;
    width: 400px;
}

.tile img:hover {
    opacity: 60%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.product-title {
    margin-bottom: 7px;
}

.pages-chooser {
    display: flex;
    justify-content: center;
    margin: 50px 0 10px 0;
}

.pages-chooser a {
    padding: 15px;
}

.product-title a {
    font-size: 15px;
    color: rgb(141, 141, 141);
    cursor: pointer;
}

.product-title span {
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.product-price {
    font-size: 18px;
}

.clothing-catalog {
    display: flex;
    flex-wrap: wrap;
   
}

.product-info {
    padding-left: 30px;
}

.product a {
    cursor: pointer;
}

.itemform{
    flex: 0 0 33.333333%;
    margin: 100px 0 10px;
}